In [346]:
import time
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
from selenium import webdriver
import requests as req
import re

from splinter import browser
from selenium import webdriver

In [329]:
#scrape the NASA Mars News SIte, collect news title, paragraph text, assign
#to variables for later reference
url = "https://mars.nasa.gov/news/" 
response = req.get(url)

soup = bs(response.text, 'html5lib')

title = soup.find("div", class_="content_title").text
paragraph_text = soup.find("div", class_="rollover_description_inner").text

In [330]:
#print(soup.prettify())

In [331]:
print(paragraph_text)

NASA's senior Mars rover, Opportunity, has just passed the shortest-daylight weeks of the long Martian year with its solar panels in encouragingly clean condition for entering a potential dust-storm season in 2018.

In [332]:
#Visit the URL for JPL's Space images
#splinter to navigate the site and find the image url for the current featured
#image and assign it to featured_image_url (use .jpg)
executable_path = {'executable_path' : 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [333]:
html = browser.html
soup = bs(html, "html.parser")

In [334]:
browser.click_link_by_partial_text('FULL IMAGE')
#time.sleep(5)

In [336]:
browser.click_link_by_partial_text('more info')

In [337]:
new_html = browser.html
new_soup = bs(new_html, 'html.parser')
temp_img_url = new_soup.find('img', class_='main_image')
back_half_img_url = temp_img_url.get('src')

recent_mars_image_url = "https://www.jpl.nasa.gov" + back_half_img_url

print(recent_mars_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18904_hires.jpg

In [338]:
#get mars weather. THE INSTRUCTIONS SAY SPECIFICALLY TO SCRAPE THE DATA

twitter_response = req.get("https://twitter.com/marswxreport?lang=en")
twitter_soup = bs(twitter_response.text, 'html.parser')

In [339]:
tweet_containers = twitter_soup.find_all('div', class_="js-tweet-text-container")

In [340]:
print(tweet_containers[0].text)
p = tweet_containers[0].text
type(p)

Tomorrow’s high temperatures in the upper midwestern US & central Canadian provinces won’t reach those last reported by @MarsCuriosity from near the equator of Mars. https://mars.nasa.gov/programmissions/science/goal2/ …pic.twitter.com/JD3Ns0Ekta

str

In [343]:
for tweets in tweet_containers:
    if tweets.text:
        print(tweets.text)
        break

Tomorrow’s high temperatures in the upper midwestern US & central Canadian provinces won’t reach those last reported by @MarsCuriosity from near the equator of Mars. https://mars.nasa.gov/programmissions/science/goal2/ …pic.twitter.com/JD3Ns0Ekta

In [344]:
for i in range(10):
    tweets = tweet_containers[i].text
    if "Sol " in tweets:
        print(tweets)
        break

Sol 1917 (Dec 27, 2017), Sunny, high -19C/-2F, low -80C/-112F, pressure at 7.86 hPa, daylight 05:48-17:31

In [347]:
#Mars Facts....visit webpage, use pandas to scrape the page for facts, 
#convert pandas table to html table string. 
request_mars_space_facts = req.get("https://space-facts.com/mars/")

In [389]:
mars_space_table_read = pd.read_html(request_mars_space_facts.text)

In [390]:
mars_space_table_read

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [393]:
df = mars_space_table_read[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [394]:
df.set_index(0, inplace=True)

In [397]:
mars_data_df = df
mars_data_df

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [399]:
mars_data_html = mars_data_df.to_html()
mars_data_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>1</th>\n    </tr>\n    <tr>\n      <th>0</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [400]:
mars_data_html.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>1</th>    </tr>    <tr>      <th>0</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [401]:
mars_data_df.to_html('mars_table.html')

In [448]:
#..Visit the USGS Astrogeology site to obtain hgih resolution images for 
#....each of Mar's hemispheres
usgs_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
usgs_req = req.get(usgs_url)

In [449]:
#..You will need to click each of the links to the hemispheres in order 
#....to find full res image
soup = bs(usgs_req.text, "html.parser")
hemi_attributes_list = soup.find_all('a', class_="item product-item")

In [450]:
print(len(hemi_attributes_list))
print(hemi_attributes_list[1]['href'])

4
/search/map/Mars/Viking/schiaparelli_enhanced

In [451]:
#..Save both the image url string for the full resolution hemisphere image
#...., and the hemisphere title containing the hemisphere name name. Use
#.... a Python dictionary to store the data using keys img_url and title
hemisphere_image_urls = []
for hemi_img in hemi_attributes_list:
    img_title = hemi_img.find('h3').text
    #print(img_title)
    link_to_img = "https://astrogeology.usgs.gov/" + hemi_img['href']
    #print(link_to_img)
    img_request = req.get(link_to_img)
    soup = bs(img_request.text, 'lxml')
    img_tag = soup.find('div', class_='downloads')
    img_url = img_tag.find('a')['href']
    hemisphere_image_urls.append({"Title": img_title, "Image_Url": img_url})

In [452]:
print(hemisphere_image_urls)

[{'Title': 'Cerberus Hemisphere Enhanced', 'Image_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'Title': 'Schiaparelli Hemisphere Enhanced', 'Image_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'Title': 'Syrtis Major Hemisphere Enhanced', 'Image_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'Title': 'Valles Marineris Hemisphere Enhanced', 'Image_Url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [ ]:
href="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"

In [ ]:
#.. Append the dictionary with th eimage url string and the hemisphere
#.... title to a list. This list will contain one dictionary for each 
#.... hemisphere